
body {

margin: 0 auto;

padding: 0;

box-sizing: border-box;

}

#rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 100;
  font-style: normal;
}

#rosarivo-regular {
  font-family: "Rosarivo", cursive;
  font-weight: 100;
  font-style: normal;
}


body {

font-family: sans-serif;

background: #f8f9fa;

color: #111;

}


/* ========== LAYOUT ========== */

.container {

max-width: 1200px;

margin: 0 auto;

padding: 1rem;

}

.flex {

display: flex;

}

.flex-row {

flex-direction: row;

}

.flex-column {

flex-direction: column;

}

.align-center {

align-items: center;

}

.justify-center {

justify-content: center;

}

.full-width {

width: 100%;

}

.full-height {

min-height: 100vh;

}

/* ========== SPACING ========== */

.m-1 { margin: 0.5rem; }

.m-2 { margin: 1rem; }

.m-3 { margin: 1.5rem; }

.mt-1 { margin-top: 0.3rem; }

.mb-1 { margin-bottom: 0.5rem; }

.p-1 { padding: 0.5rem; }

.p-2 { padding: 1rem; }

.p-3 { padding: 1.5rem; }

/* ========== TYPOGRAPHY ========== */

.text-sm { font-size: 0.85rem; }

.text-md { font-size: 1rem; }

.text-lg { font-size: 1.5rem; }

.text-xl { font-size: 3.999rem; }

.text-center { text-align: center; }

.font-bold { font-weight: 100; }

.font-light { font-weight: 300; }

.text-muted { color: #6c757d; }

/* ========== COLORS ========== */

.bg-primary {

background: rgba(64, 61, 35, 0.32);

}

.bg-white {

background: #fff;

}

.text-white {

color: #fff;

}

/* ========== BUTTONS ========== */

.btn {

padding: 0.75rem 1.25rem;

border-radius: 6px;

border: none;

cursor: pointer;

font-weight: 600;

}

.btn-primary {

background: #415169;

color: white;

}

.btn-secondary {

background: #401ca416;

color: rgb(255, 255, 255);

}

/* ========== CARDS ========== */

.card {

background: rgba(133, 103, 121, 0.042);

border-radius: 25px;

padding: 1.5rem;

}

.shadow {

box-shadow: 0 0 20px rgba(0, 0, 0, 0.316);


}

.poster{
  margin-bottom: 20px;
  padding: 1.5rem;
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(3, 0, 0, 5);

}

/* ========== HERO ========== */

.hero {

background: linear-gradient(135deg, #0d6efd, lch(44.45% 114.42 315.63 / 0.393));

color: rgb(255, 255, 255);

}

